<h1>Listing Bookmarks</h1>

<%= live_render(@conn, MirageWeb.BookmarkListLive) %>

<div class="mt-3">
  <%= link "New Bookmark", to: Routes.admin_bookmark_path(@conn, :new), class: "button" %>
</div>
