<section class="max-w-prose mx-auto">
  <h1>New Bookmark</h1>

  <%= render "form.html", Map.put(assigns, :action, Routes.admin_bookmark_path(@conn, :create)) %>
</section>

<span><%= link "Back", to: Routes.admin_bookmark_path(@conn, :index) %></span>
