body {
	color: var(--color-text);
	background-color: var(--background);
	padding: 0 var(--spacing-3);
}

a {
	color: var(--color-link);
}

pre {
	padding: var(--spacing-2);
	background: var(--background-dark);
	white-space: pre-wrap;
}

section {
	margin-bottom: var(--spacing-3);
}

details {
	padding: var(--spacing-3);
}

blockquote {
	border-left: 3px solid var(--primary-500);
	padding-left: var(--spacing-3);

	& p:first-of-type::before {
		content: "“";
	}

	& p:last-of-type::after {
		content: "”";
	} 
}

form {
	& fieldset {
	  border-radius: var(--border-radius);
	  margin-bottom: var(--spacing-2);
	  display: flex;
	  flex-direction: column;
	}

	input,
	select,
	button,
	textarea {
		font-family: sans-serif;
		border: 1px solid var(--primary-200);
		padding: var(--spacing-2);
	}
}

table {
	border-collapse: collapse;
	vertical-align: middle;
	width: 100%;
	margin-bottom: var(--spacing-3);
}

table th, table td {
	text-align: left;
	padding: var(--spacing-3);
	border-bottom: 1px solid var(--background-darker);
	border-top: 1px solid var(--background-darker);
}

table th p, table td p {
	margin: 0;
}

table thead {
	background: var(--background-dark);
}