body {
	color: var(--color-text);
	background-color: var(--background);
	padding: 0;
}

a {
	color: var(--color-link);
}

pre {
	padding: var(--spacing-2);
	background: var(--background-dark);
	white-space: pre-wrap;
	word-break: break-all;
}

hr {
	background: var(--background-dark);
	border: none;
	height: 2px;
	margin: var(--spacing-3);
}

section {
	margin-bottom: var(--spacing-3);
}

blockquote {
	border-left: 3px solid var(--primary);
	padding-left: var(--spacing-3);

	& p:first-of-type::before {
		content: "“";
	}

	& p:last-of-type::after {
		content: "”";
	} 
}