body {
	color: var(--color-text);
	background-color: var(--background);
	padding: 0 var(--spacing-3);
}

a {
	color: var(--color-link);
}

pre {
	padding: var(--spacing-2);
	background: var(--background-dark);
	white-space: pre-wrap;
	word-break: break-all;
}

section {
	margin-bottom: var(--spacing-3);
}

details {
	padding: var(--spacing-3);
}

blockquote {
	border-left: 3px solid var(--primary-500);
	padding-left: var(--spacing-3);

	& p:first-of-type::before {
		content: "“";
	}

	& p:last-of-type::after {
		content: "”";
	} 
}

form {
	& fieldset {
	  border-radius: var(--border-radius);
	  border: 1px solid var(--primary-200);
	  margin-bottom: var(--spacing-2);
	  display: flex;
	  flex-direction: column;

	  & label {
	  	margin-bottom: var(--spacing-2);
	  }
	}

	input,
	select,
	textarea {
		color: var(--primary-800);
		border: 1px solid var(--primary-200);
		padding: var(--spacing-2);
	}

	textarea {
		font-family: var(--font-code);
		font-feature-settings: var(--font-code-features);
		resize: vertical;
	}
}