@font-face {
  font-family: 'OpenWeb Icons';
    src: url('../fonts/OpenWebIcons/openwebicons.eot');
    src: url('../fonts/OpenWebIcons/openwebicons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenWebIcons/openwebicons.woff2') format('woff2'),
         url('../fonts/OpenWebIcons/openwebicons.woff') format('woff'),
         url('../fonts/OpenWebIcons/openwebicons.ttf') format('truetype'),
         url('../fonts/OpenWebIcons/openwebicons.svg#OpenWebIconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-size: var(--font-size);
	font-family: var(--font-base);
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: var(--font-heading);
  color: var(--color-heading);

  & a {
    text-decoration: none;
    color: var(--color-heading);
  }
}

h1, .h1 {
	font-size: var(--spacing-8);
  margin: var(--spacing-3) 0;
}

h2, .h2 {
  font-size: var(--spacing-6);
  margin: var(--spacing-2) 0 var(--spacing-3);
}

h3, .h3 {
  font-size: var(--spacing-6);
  margin: var(--spacing-3) 0;
}