html {
	font-size: var(--font-size);
	font-family: var(--font-base);
  font-feature-settings: var(--font-base-features);
}

@supports (font-variation-settings: normal) {
  html { 
    font-family: var(--font-base-var);
  }
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: var(--font-heading);
  font-weight: 400;
  color: var(--color-heading);

  & a {
    text-decoration: none;
    color: var(--color-heading);
  }
}

.text-xxxl {
  font-size: var(--text-xxxl);
}

h1, .h1, .text-xxl {
	font-size: var(--text-xxl);
  font-weight: 500;
  margin: var(--spacing-3) 0;

  &:first-letter {
    font-weight: 500;
    color: var(--primary-600);
  }

  & a:hover {
    color: var(--primary-600);
  }
}

h2, .h2, .text-xl {
  font-size: var(--text-xl);
  margin: var(--spacing-2) 0 var(--spacing-3);
}

h3, .h3, .text-lg {
  font-size: var(--text-lg);
  margin: var(--spacing-3) 0;
}

.text-md {
  font-size: var(--text-md);
}

.text-sm, small {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-md);
}

pre, code {
  font-family: var(--font-code);
  font-feature-settings: var(--font-code-features);
}

input,
label,
select,
button,
textarea {
  font-size: 1rem;
  font-family: var(--font-base);
}