SECRET_KEY_BASE=some-secret-string
DATABASE_URL=postgresql://username:password@localhost/mirage
PUBLIC_HOST=example.com
PORT=9100
DATA_DIR=/home/inhji/www/mirage/data
UPLOAD_DIR=/var/www/mirage
MASTODON_ID=mastodon-client-id
MASTODON_SECRET=mastodon-secret
MASTODON_HOST=mastodon-host