<section>
	<h1>Tags</h1>

	<section class="tag-cloud">
		<%= for tag <- @tags do %>
			<%= if not Enum.empty?(tag.notes_published) or @current_user do %>
			<span class="tag" data-count={note_count(@conn, tag)}>
				<%= link to: Routes.tag_path(@conn, :show, tag) do %>
						<%= tag.title %> (<%= note_count(@conn, tag) %>)
				<% end %>
			</span>
			<% end %>
		<% end %>
	</section>
</section>