<section>
	<h1>Tags</h1>

	<section class="tag-cloud">
		<%= for tag <- @tags do %>
			<span class="tag" data-count={Enum.count(tag.notes)}>
				<%= link to: Routes.tag_path(@conn, :show, tag) do %>
						<%= tag.title %> (<%= Enum.count(tag.notes) %>)
				<% end %>
			</span>
		<% end %>
	</section>
</section>