<section>
	<h1>Tagged with “<%= @tag.title %>”</h1>

	<div class="content html">
	  <%= raw @tag.content_html %>
	</div>

	<h2><%= Enum.count(@tag.notes) %> Note(s)</h2>
	<%= render MirageWeb.NoteView, "note_list.html", Map.put(assigns, :notes, @tag.notes) %>

	<%= if has_unpublished_notes?(@conn, @tag) do %>
	<h3>Unpublished</h3>
	<%= render MirageWeb.NoteView, "note_list.html", Map.put(assigns, :notes, @tag.notes_unpublished) %>
	<% end %>
</section>