html.theme-default {
	.tag {
		background: var(--secondary);
	}

	& .pagination {
		li > a {
			background: var(--secondary);
		}

		li.active > a, li > a:hover {
			background: var(--primary);
		}
	}
}