html.theme-default {
	--color-heading: red;

	.tag {
		background: var(--primary-100);
	}

	& .pagination {
		li > a {
			background: var(--primary-100);
		}

		li.active > a, 
		li > a:hover {
			background: var(--primary-200);
		}
	}
}