:root[data-theme="night"] {
	--background: var(--gray-800);
	--background-dark: var(--gray-900);

	--color-border: var(--gray-700);

	--color-alert-bg: var(--gray-100);
	--color-footer-bg: var(--background-dark);

	--color-heading: var(--gray-100);
	--color-text: var(--gray-200);
	--color-text-muted: var(--gray-500);
	--color-link: var(--gray-500);
	--color-nav-toggle: var(--primary);

	--color-nav-bg: var(--background-dark);
	--color-nav-link: var(--gray-400);

	--color-tag-bg: var(--background);
	--color-tag-bg-hover: var(--gray-800);
	--color-tag-text: var(--gray-400);

	--color-pagination-bg: var(--gray-900);
	--color-pagination-bg-hover: var(--gray-800);

	--color-button-text: var(--gray-500);
	--color-button-bg: var(--gray-900);
	--color-button-bg-hover: var(--gray-800);
}
