<section id="page-bookmarks">
	<h1>Bookmarks</h1>

	<%= for {date, notes} <- @notes do %>

	<h2><%= date %></h2>

	<ul>
		<%= for note <- notes do %>
			<li><%= link note.title, to: Routes.note_path(@conn, :show, note) %></li>
		<% end %>
	</ul>

	<% end %>
</section>