:root {
	--blue-50: #EFF6FF;
	--blue-100: #DBEAFE;
	--blue-200: #BFDBFE;
	--blue-300: #93C5FD;
	--blue-400: #60A5FA;
	--blue-500: #3B82F6;
	--blue-600: #2563EB;
	--blue-700: #1D4ED8;
	--blue-800: #1E40AF;
	--blue-900: #1E3A8A;

	--sky-50: #F0F9FF;
	--sky-100: #E0F2FE;
	--sky-200: #BAE6FD;
	--sky-300: #7DD3FC;
	--sky-400: #38BDF8;
	--sky-500: #0EA5E9;
	--sky-600: #0284C7;
	--sky-700: #0369A1;
	--sky-800: #075985;
	--sky-900: #0C4A6E;

	--emerald-50: #ECFDF5;
	--emerald-100: #D1FAE5;
	--emerald-200: #A7F3D0;
	--emerald-300: #6EE7B7;
	--emerald-400: #34D399;
	--emerald-500: #10B981;
	--emerald-600: #059669;
	--emerald-700: #047857;
	--emerald-800: #065F46;
	--emerald-900: #064E3B;

	--rose-50: #FFF1F2;
	--rose-100: #FFE4E6;
	--rose-200: #FECDD3;
	--rose-300: #FDA4AF;
	--rose-400: #FB7185;
	--rose-500: #F43F5E;
	--rose-600: #E11D48;
	--rose-700: #BE123C;
	--rose-800: #9F1239;
	--rose-900: #881337;
	
	--gray-50: #F8FAFC;
	--gray-100: #F1F5F9;
	--gray-200: #E2E8F0;
	--gray-300: #CBD5E1;
	--gray-400: #94A3B8;
	--gray-500: #64748B;
	--gray-600: #475569;
	--gray-700: #334155;
	--gray-800: #1E293B;
	--gray-900: #0F172A;
}

