:root {
	--blue: #0d6efd;
	--black: #120926;
	--gray-10: #383048;
	--gray-9: #4b445a;
	--gray-8: #5f596d;
	--gray-7: #746f80;
	--gray-6: #8a8594;
	--gray-5: #a09ca8;
	--gray-4: #b7b4bd;
	--gray-3: #cfcdd3;
	--gray-2: #e7e6e9;
	--gray-1: white;
	--white: white;

	--background: var(--white);
	--background-dark: var(--gray-2);

	--primary: var(--blue);

	--color-border: var(--gray-3);

	--color-alert-bg: var(--gray-2);
	--color-footer-bg: var(--gray-2);

	--color-heading: var(--gray-7);
	--color-text: var(--gray-9);
	--color-text-muted: var(--gray-7);
	--color-link: var(--primary);

	--color-tag-bg: var(--gray-2);
	--color-tag-bg-hover: var(--gray-5);
	--color-tag-text: var(--gray-8);

	--color-nav-bg: var(--gray-2);
	--color-nav-link: var(--primary);

	--color-pagination-bg: var(--gray-2);
	--color-pagination-bg-hover: var(--gray-3);

	--color-button-bg: var(--gray-2);
	--color-button-bg-hover: var(--gray-3);
}

