@custom-media --biig (min-width: 30rem);

:root {
	--spacing-0: 0;
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-8: 2rem;
	--spacing-12: 3rem;
	--spacing-16: 4rem;
	--spacing-20: 5rem;
	--spacing-24: 6rem;
	--spacing-28: 7rem;
	--spacing-32: 8rem;
	--spacing-36: 9rem;

	--border-radius-lg: var(--spacing-3);
	--border-radius: var(--spacing-2);
	--border-radius-sm: var(--spacing-1);

	--font-base: 'Inter', sans-serif;
	--font-base-var: 'Inter var', sans-serif;
	--font-base-features: 'calt', 'ss01', 'ss02', 'case', 'frac';
	--font-heading: 'Inter', sans-serif;
	--font-code: 'Cascadia Code', monospace;
	--font-code-features: 'calt', 'ss01';

	/*
	If changing the font size, ex. in a media query,
	change the --font-size variable, not the ratio. 
	Also keep the 1em in the --text-xx variables intact.

	*/
	--font-size: 1rem;
	--text-scale-ratio: 1.2;

  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}