:root {
	--background: #fff1e8;
	--primary: #ff78a9;
	--secondary: #83769c;
	--text: #120926;

	--spacing-0: 0;
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-8: 2rem;
	--spacing-12: 3rem;
	--spacing-16: 4rem;
	--spacing-20: 5rem;
	--spacing-24: 6rem;
	--spacing-28: 7rem;
	--spacing-32: 8rem;
	--spacing-36: 9rem;

	--font-size: var(--spacing-4);
}