<ul class="flex py-3">
  <%= if @current_user do %>
    <li><%= active_link @conn, "Notes", to: Routes.admin_note_path(@conn, :index), class: "p-3" %></li>
    <li><%= active_link @conn, "Tags", to: Routes.admin_tag_path(@conn, :index), class: "p-3" %></li>
    <li><%= active_link @conn, "Lists", to: Routes.admin_list_path(@conn, :index), class: "p-3" %></li>
  <% end %>
</ul>
