<ul class="flex py-3">
<%= if @current_user do %>
  <li><%= active_link @conn, "Docs", to: "/docs/index.html", class: "p-3" %></li>
<% end %>
  <li><%= active_link @conn, "Feeds", to: Routes.feed_path(@conn, :index), class: "p-3" %></li>
  <li><%= active_link @conn, "About", to: Routes.page_path(@conn, :about), class: "p-3" %></li>
</ul>
