<ul>
<%= if @current_user do %>
  <li><%= active_link @conn, "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= active_link @conn, "Log in", to: Routes.user_session_path(@conn, :new) %></li>
<% end %>
</ul>
