<p class="bg-white text-accent2 p-3 empty:hidden" role="alert"><%= get_flash(@conn, :info) %></p>
<p class="bg-white text-accent1 p-3 empty:hidden" role="alert"><%= get_flash(@conn, :error) %></p>

<%= @inner_content %>