<p class="bg-inv text-inv p-3 empty:hidden" role="alert"><%= get_flash(@conn, :info) %></p>
<p class="bg-inv text-inv p-3 empty:hidden" role="alert"><%= get_flash(@conn, :error) %></p>

<%= @inner_content %>