<p class="bg-white text-accent2 p-3 empty:hidden" role="alert"
  phx-click="lv:clear-flash"
  phx-value-key="info"><%= live_flash(@flash, :info) %></p>

<p class="bg-white text-accent1 p-3 empty:hidden" role="alert"
  phx-click="lv:clear-flash"
  phx-value-key="error"><%= live_flash(@flash, :error) %></p>

<%= @inner_content %>
