<!DOCTYPE html>
<html lang="en" id="app">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Mirage", suffix: " · Mirage" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
  </head>
  <body class="bg-base flex flex-col selection:bg-accent1 selection:text-white">
    <header class="bg-gray-50 shadow-sm">
      <nav class="flex container mx-auto">
        <ul class="flex py-3">
          <li><%= active_link @conn, "ꟿirage", to: Routes.page_path(@conn, :index), class: "p-3 uppercase font-medium" %></li>
        </ul>
        <%= render "_content_menu.html", assigns %>        
        <div class="flex-1"></div>
        <%= render "_misc_menu.html", assigns %>
      </nav>
    </header>
    
    <main id="content" class="container mx-auto px-3 my-10 grow shrink-0">
      <%= @inner_content %>
    </main>

    <footer class="flex-auto border-t bg-high text-low">
      <nav class="flex container mx-auto">
        <ul class="flex py-3">
          <li><span class="p-3">Live slow, die old.</span></li>
        </ul>
        <div class="flex-1"></div>
        <%= render "_user_menu.html", assigns %>  
      </nav>
    </footer>

    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </body>
</html>
