<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>

    <%= live_title_tag assigns[:page_title] || "Mirage", suffix: " · Mirage" %>

    <link phx-track-static rel="manifest" href={Routes.static_path(@conn, "/manifest.json")} />
    <link phx-track-static rel="icon" href={Routes.static_path(@conn, "/favicon.ico")} />
    <link phx-track-static rel="icon" type="image/png" sizes="16x16" href={Routes.static_path(@conn, "/images/favicon-16x16.png")} />
    <link phx-track-static rel="icon" type="image/png" sizes="32x32" href={Routes.static_path(@conn, "/images/favicon-32x32.png")}>
    <link phx-track-static rel="apple-touch-icon" sizes="180x180" href={Routes.static_path(@conn, "/images/apple-touch-icon.png")}>

    <%= for identity <- @identities do %>
    <link rel={identity.rel} href={identity.value} /><% end %>
    <link rel="micropub" href={@indie_config.micropub_endpoint}>
    <link rel="authorization_endpoint" href={@indie_config.auth_endpoint}>
    <link rel="token_endpoint" href={@indie_config.token_endpoint}>
    <link rel="alternate" type="application/atom+xml" 
      title="Blog Feed for Mirage" 
      href={Routes.feed_path(@conn, :show, "home")} />

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <script>
      document.documentElement.dataset.theme = localStorage.theme
    </script>

    <style>
      <% @custom_css %>
    </style>
  </head>
  <body>
    <div id="wrapper">
      <%= render "_header.html", assigns %>
      
      <main id="content" role="main">
        <%= @inner_content %>
      </main>

      <footer id="footer">
        <nav>
          <ul>
            <li><%= @motd %></li>
          </ul>

          <div class="flex-1"></div>
          <%= render "_user_menu.html", assigns %>  
        </nav>
      </footer>
    </div>
  </body>
</html>
