<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>404</title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(MirageWeb.Endpoint, "/assets/app.css")}/>
  </head>
  <body>
    <main class="container mx-auto">
      <section class="p-3 max-w-full lg:p-10 lg:max-w-3xl">
        <h1>Uh-oh!</h1>
        <p>Sorry, but your princess is in another castle.</p>
      </section>
    </main>
  </body>
</html>