form fieldset {
	border: var(--border);
	padding: 0;
	margin: var(--spacing-3) 0;
}

form input, 
form textarea,
form .milkdown {
	color: var(--f-high);
	width: 100%;
	background: var(--b-med);
	border: var(--border);
	padding: var(--spacing-3);
	margin-top: var(--spacing-1);
}


form input:focus,
form textarea:focus {
	outline: none;
}

.button,
form button[type=submit] {
	display: inline-block;
	color: var(--f-high);
	background: var(--b-high);
	border: none;
	border-radius: var(--border-radius);
	padding: var(--spacing-2);
}

.button,
form button[type=submit]:hover {
	color: var(--f-inv);
	background: var(--b-inv);
}