form fieldset {
	border: none;
	padding: 0;
	margin: var(--spacing-3) 0;
}

form input, 
form textarea,
form .milkdown {
	color: var(--f-high);
	width: 100%;
	background: var(--b-med);
	border: var(--border);
	padding: var(--spacing-3);
	margin-top: var(--spacing-1);
}

form .milkdown .paragraph:first-child {
	margin-top: 0;
}

form .milkdown .paragraph:last-child {
	margin-bottom: 0;
}

form .milkdown .editor {
	outline: none;
}


form input:focus,
form textarea:focus {
	outline: none;
}

.button,
form button[type=submit] {
	display: inline-block;
	color: var(--f-high);
	border: none;
	border-radius: var(--border-radius);
	padding: var(--spacing-2);
	text-decoration: none;
	background: transparent;
	border: 1px solid var(--b-inv);
	cursor: pointer;
}