table {
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	margin-bottom: var(--spacing-3);
}

table th, table td {
	border: var(--border);
	padding: var(--spacing-3);
}

table thead {
	color: var(--f-med);
}