/* This file is for your main application CSS */
@import "./_normalize.css";
@import "./_inter.css";
@import "./_phoenix.css";
@import "./_variables.css";

html {
  font-family: 'Inter', sans-serif;
}

body {
  color: var(--f-high);
  background: var(--background);

}

header {
}