.alert {
	color: var(--primary);
	padding: var(--spacing-3);
	background: var(--color-alert-bg);
	border: var(--border);
	margin-bottom: var(--spacing-2);
	border-radius: var(--border-radius-sm);

	&:empty {
		display: none;
	}
}