article.article {
	& header {
		margin-bottom: var(--spacing-6);
	}

	& footer {
		margin-top: var(--spacing-6);
	}

	.meta {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-1);
	}

	img {
		border-radius: var(--border-radius-sm);
		border: 1px solid var(--primary-200);
	}
}