.button,
button {
	color: var(--primary-700);
	display: inline-block;
	padding: var(--spacing-2);
	background: var(--color-button-bg);
	text-decoration: none;
	border-radius: var(--border-radius-sm);
	border: var(--border);
	cursor: pointer;

	&:hover {
		background: var(--color-button-bg-hover);
	}
}