.card-list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-3);

	& > a {
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
		background: var(--background);
		padding: var(--spacing-3);
		text-decoration: none;
		color: var(--color-text);
		border-radius: var(--border-radius);
		border: var(--border);
		transition: var(--transition);

		&:hover {
			background: var(--background-dark);
		}

		& p {
			color: var(--color-text-muted);
		}
	}
}