hr.divider {
	color: transparent;
	border-top: var(--border);
	height: 1px;

	&:after {
		color: var(--color-border);

		content: "⁙";
		display: inline-block;
		position: relative;
		top: -0.9rem;
		left: calc(50% - 0.5rem);
		font-size: 1rem;
		padding: 0 0.25em;
		background: var(--background);
	}

	&:last-of-type {
		display: none;
	}
}