.tag {
	color: var(--color-tag-text);
	background: var(--color-tag-bg);
	padding: var(--spacing-1);
	border-radius: var(--border-radius-sm);
	font-size: var(--text-sm);
	text-decoration: none;
	white-space: nowrap;

	&:hover {
		transition: var(--transition);
		background: var(--color-tag-bg-hover);
	}

	& a {
		text-decoration: none;
		color: var(--color-tag-text);
	}
}

.tag-cloud {
	display: flex;
	gap: var(--spacing-3);
	flex-wrap: wrap;

	.tag {
		&[data-count="0"],
		&[data-count="1"],
		&[data-count="2"],
		&[data-count="3"],
		&[data-count="4"],
		&[data-count="5"]
		{
			background: var(--gray-100);
		}

		&[data-count="6"],
		&[data-count="7"],
		&[data-count="8"],
		&[data-count="9"],
		&[data-count="10"],
		&[data-count="11"]
		{
			background: var(--gray-200);
		}

		&[data-count="12"],
		&[data-count="13"],
		&[data-count="14"],
		&[data-count="15"],
		&[data-count="16"],
		&[data-count="17"],
		&[data-count="18"],
		&[data-count="19"],
		&[data-count="20"],
		&[data-count="21"],
		&[data-count="22"],
		&[data-count="23"],
		&[data-count="24"],
		&[data-count="25"]
		{
			background: var(--gray-300);
		}
	}
}