<h1><%= @tag.title %></h1>


<section>
  <h2>Tagged with <%= @tag.title %> (<%= Enum.count(@tag.notes) %>)</h2>

  <ul>
  <%= for note <- @tag.notes do %>
    <li>
      <%= link note.title, to: Routes.note_path(@conn, :show, note) %>
    </li>
  <% end %>
  </ul>
</section>

<span><%= link "Edit", to: Routes.admin_tag_path(@conn, :edit, @tag) %></span> |
<span><%= link "Back", to: Routes.admin_tag_path(@conn, :index) %></span>
