<%= render MirageWeb.NoteView, "show.html", assigns %>

<aside>
  <span><%= link "Edit", to: Routes.admin_note_path(@conn, :edit, @note) %></span> |
  <%= if is_nil(@note.published_at) do %>
  <span><%= link "Publish", to: Routes.admin_note_path(@conn, :publish, @note) %></span> |
  <% else %>
  <span><%= link "Unpublish", to: Routes.admin_note_path(@conn, :unpublish, @note) %></span> |
  <% end %>
  <span><%= link "Back", to: Routes.admin_note_path(@conn, :index) %></span>
</aside>
