<article class="bookmark">
  <header>
    <h1><%= @bookmark.title %></h1>
    <h2>Microformat</h2>
  </header>

  <section class="prose dark:prose-invert max-w-max">
    <pre><code class="whitespace-pre-wrap"><%= @microformats %></code></pre>
  </section>
</article>