<aside class="mb-10 block max-w-prose mx-auto">
  <span><%= link "Edit", to: Routes.admin_note_path(@conn, :edit, @note), class: "button" %></span>
  <%= if is_nil(@note.published_at) do %>
  <span><%= link "Publish", to: Routes.admin_note_path(@conn, :publish, @note), class: "button" %></span>
  <% else %>
  <span><%= link "Unpublish", to: Routes.admin_note_path(@conn, :unpublish, @note), class: "button" %></span>
  <% end %>
  <span><%= link "Back", to: Routes.admin_note_path(@conn, :index), class: "button" %></span>
</aside>