<article class="article | like | h-entry">
  <header>
    <%= render "_note_header.html", assigns %>
  </header>

  <footer>
    <%= render "_note_url.html", assigns %>
    
    <section class="meta">
      <%= render "_note_meta.html", assigns %>
    </section>

    <aside class="hidden">
      <%= render MirageWeb.SharedView, "author_card.html", Map.put(assigns, :user, @note.user) %>
    </aside>
  </footer>
</article>