<article class="article | h-entry">
  <header>
    <%= render "_note_header.html", assigns %>
    <%= render "_note_meta.html", assigns %>
  </header>

  <%= render "_note_content.html", assigns %>

  <footer>
    <%= render "_note_url.html", assigns %>
    <%= render "_note_syndications.html", assigns %>

    <aside class="hidden">
      <%= render MirageWeb.SharedView, "author_card.html", Map.put(assigns, :user, @note.user) %>
    </aside>
  </footer>
</article>