<article class="article | h-entry">
  <header>
    <%= render "partials/note_header.html", assigns %>
  </header>

  <%= render "partials/note_content.html", assigns %>

  <footer>
    <aside class="hidden">
      <%= render MirageWeb.SharedView, "author_card.html", Map.put(assigns, :user, @note.user) %>
    </aside>
  </footer>
</article>