<section id="page-note">
  <%= if @current_user do %>
    <%= render "_note_buttons.html", assigns %>
  <% end %>

  <article class="note | h-entry">
    <%= render "note.html", assigns %>
  </article>
</section>