<%
# Note content or excerpt
# Used in:
# - note.html
# - page.html
%>
<section class="html | e-content">
  <%= if @preview and @note.excerpt do %>
    <%= raw Mirage.Markdown.render(@note.excerpt) %>
  <% else %>
    <%= raw Mirage.Markdown.render(@note.content) %>
  <% end %>
</section>