<%= if @preview do %>
  <h3 class="u-uid u-url p-name">
    <%= link note_title(@note), 
      to: Routes.note_path(@conn, :show, @note) %>
  </h3>
<% else %>
  <h1><%= note_title(@note) %></h1>
<% end %>