#footer {
	background: var(--color-footer-bg);
	padding: 0 var(--spacing-3);

	& nav {
		display: flex;
		gap: var(--spacing-3);
	}

	& ul {
		display: flex;
		gap: var(--spacing-3);
		list-style: none;
		padding: 0;
	}

	& a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}