#header {
	margin-bottom: var(--spacing-3);

	& form#search {
		& input {
			padding: 0;
			margin-left: var(--spacing-2);
		}
	}

	& a {
		text-decoration: none;
	}

	& .theme-selector {
		float: right;

		& a[data-theme=default] {
			color: #0d6efd;
		}

		& a[data-theme=blood] {
			color: #d34;
		}

		& a[data-theme=night] {
			color: hsl(220, 20%, 50%);
		}

		& a[data-theme=day] {
			color: hsl(0, 50%, 50%);
		}
	}

	& details {
		& summary {
			margin-bottom: var(--spacing-3);		
			font-weight: bold;
			margin-left: calc(var(--spacing-3) * -1);
		}

		& summary::marker {
			color: var(--color-nav-toggle);
			content: '';
		}

		&[open] summary::marker {
			content: '';
		}

		& nav {
			display: flex;
			flex-wrap: wrap;
			gap: var(--spacing-4);
			background: var(--color-nav-bg);
			margin: 0 calc(var(--spacing-6) * -1);		
			padding: var(--spacing-3) 0;
			border-radius: 0;

			@media (--biig) {
				border-radius: var(--border-radius-lg);
				margin: 0 calc(var(--spacing-3) * -1);
			}
		}
	}

	& div {
		& strong {
			padding: var(--spacing-3);
		}
	}

	& ul {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-1);
		list-style: none;
		padding: 0;
		margin: 0;

		@media (--smol) {
			flex-direction: row;
		}

		& a {
			text-decoration: none;
			padding: var(--spacing-3);
			color: var(--color-nav-link);

			&:hover {
				text-decoration: underline;
			}
		}
	}
}