#header {
	margin-bottom: var(--spacing-3);
	margin-left: calc(var(--spacing-3) * -1);
	margin-right: calc(var(--spacing-3) * -1);
	padding: 0 var(--spacing-3);
	background: var(--color-nav-bg);

	& form#search {
		& input {
			padding: 0;
			margin-left: var(--spacing-2);
		}
	}

	& a {
		text-decoration: none;
	}

	& .theme-selector {
		line-height: 125%;

		& a[data-theme=default] {
			color: var(--sky-200);
		}

		& a[data-theme=night] {
			color: var(--sky-700);
		}

		& a[data-theme=blood] {
			color: var(--rose-600);
		}


		& a[data-theme=day] {
			color: hsl(0, 50%, 50%);
		}

		& a {
			font-size: 125%;
			vertical-align: text-top;
		}
	}

	& details {
		padding: var(--spacing-3) var(--spacing-3) 0;

		& summary {
			margin-bottom: var(--spacing-3);		
			font-weight: bold;
			margin-left: calc(var(--spacing-3) * -1);
			margin-right: calc(var(--spacing-3) * -1);

			& .icon:before {
				color: var(--color-text);
				content: 'ꟿ';
				transition: var(--transition);
			}

			& .title {
				justify-content: center;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}

		&[open] summary .icon:before {
			color: var(--color-nav-toggle);		
		}	

		& nav {
			display: flex;
			flex-wrap: wrap;
			gap: var(--spacing-4);
			background: var(--color-nav-bg);
			margin: 0 calc(var(--spacing-6) * -1);		
			padding: var(--spacing-3) 0;
		}
	}

	& div {
		& strong {
			color: var(--color-heading);
			padding: var(--spacing-3);
		}
	}

	& ul {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-1);
		list-style: none;
		padding: 0;
		margin: 0;

		@media (--smol) {
			flex-direction: row;
		}

		& a {
			text-decoration: none;
			padding: var(--spacing-3);
			color: var(--color-text);

			&:hover {
				text-decoration: underline;
			}
		}
	}
}