#header {
	margin-bottom: var(--spacing-3);

	& details {
		& summary {
			margin: var(--spacing-3) 0;
			font-weight: bold;

			&:first-letter {
				/* color: var(--primary-700); */
			}
		}

		& summary::marker {
			color: var(--primary-500);
			content: '';
		}

		&[open] summary::marker {
			content: '';
		}

		& nav {
			display: flex;
			flex-wrap: wrap;
			gap: var(--spacing-4);
			background: var(--color-nav-bg);
			margin: 0 calc(var(--spacing-3) * -1);
			padding: var(--spacing-3);
			border-radius: var(--border-radius-lg);
		}
	}

	& div {
		& strong {
			padding: var(--spacing-2);
		}
	}

	& ul {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-1);
		list-style: none;
		padding: 0;
		margin: 0;

		@media (min-width: 45rem) {
			flex-direction: row;
		}

		& a {
			text-decoration: none;
			padding: var(--spacing-2);
			color: var(--color-nav-link);

			&:hover {
				text-decoration: underline;
			}
		}
	}
}