aside#sidebar {
	background: var(--background-dark);
	border-radius: var(--border-radius-lg);
	padding: var(--spacing-6);

	& ul.social {
		margin: 0;
		padding: 0;
		list-style: none;

		& li {		
			& a {
				display: block;
				text-decoration: none;
				padding: var(--spacing-2);
				border-radius: var(--border-radius-sm);

				&:hover {
					background: var(--primary-100);
				}
			}
		}
	}
}