<figure class="author-card | small | p-author h-card">
  <img class="u-photo" src={Routes.static_path(@conn, "/images/avatar.jpg")} >
  <section>
    <h2 class="p-name"s><%= @user.name %></h2>
    <p>@<span class="p-nickname"><%= @user.handle %></span></p>
    <p>
      <%= link "inhji.de", to: Routes.page_path(@conn, :index), class: "u-url u-uid", rel: "me" %>
    </p>
  </section>
</figure>