<figure class="p-author h-card flex bg-white p-3 shadow mt-3">
  <img class="u-photo w-16 h-16 rounded-full shadow-lg" src={Routes.static_path(@conn, "/images/avatar.jpg")} >
  <div class="ml-3">
    <h2 class="p-name m-0 text-base"s><%= @user.name %></h2>
    <p class="text-gray-500">@<span class="p-nickname"><%= @user.handle %></span></p>
    <p class="mt-1">
      <%= link "inhji.de", to: Routes.page_path(@conn, :index), class: "u-url u-uid", rel: "me" %>
    </p>
  </div>
</figure>