<h1>New Note image</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_note_image_path(@conn, :create, @note)) %>

<span><%= link "Back", to: Routes.admin_note_image_path(@conn, :index, @note) %></span>
